<html>
<head></head>
<body>
<p>
Hi {{.UserName}},
<br>
Thanks for signing up to {{.ServiceName}}! To activate your account, please click <a href="{{.ActionURL}}">here</a> or copy the following link:
<br>
{{.ActionURL}}
<br>
If you did no sign up for {{.ServiceName}}, no need to worry, just ignore this email.
<br>
Thanks,
<br>
The team at {{.ServiceName}}
</p>
</body>
</html>