<html>
<head></head>
<body>
<p>
Hi {{.Username}},
<br>
You requested a password reset for {{.ServiceName}}. To reset your password, please click <a href={{.ActionURL}}>here</a> or copy the following link into the address bar:
<br>
{{.ActionURL}}
<br>
Please note this link will expire in 1 hour. If you did not request a password reset, no need to worry, just ignore this email.
<br>
Thanks,
<br>
The team at {{.ServiceName}}
</p>
    
</body>

</html>